.dialog-form__input_type_section {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #ccc;
  background-color: #000;
  color: #fff;
}

/*
.dialog-form__input_type_section:first-of-type {
  margin: 0;
}

.dialog-form__input_type_section:last-of-type {
  margin: 0;
}

.dialog-form__input_type_section:only-of-type {
  margin: 54px 0 0 0;
}

@media screen and (max-width: 619px) {
  .dialog-form__input_type_section:first-of-type {
    margin-top: calc(40px + 10 * (100vw - 320px) /300);    
  }  
}*/