.location__delete-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  border: none;
  background-image: url(../../../images/ui/Trash.svg);
  background-position: center;
  background-size: 100%;
  background-color: #00000000;
  cursor: pointer;
  transition: .3s;  
}

.location__delete-icon:hover {
  opacity: .6;
}