.profile {
  min-height: 120px;
  display: grid;
  grid-template-columns: 120px calc(100% - 300px) auto;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 719px) {
  .profile {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    justify-items: center;
  }
}