.location-list {
  margin: 51px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 282px);
  gap: 20px 17px;
}

@media screen and (max-width: 917px) {
  .location-list {
    margin: 43px auto 0;
    width: 580px;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
}

@media screen and (max-width: 619px) {
  .location-list {
    margin: 36px auto 0;
    width: 282px;
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}