.dialog-form__input-error {
  margin: 0;
  padding: 0;
  min-height: 30px;/*резервирую место для двух строк ошибки, чтобы размер формы не менялся*/
  display: block;
  position: relative;
  z-index: 1;
  opacity: 1;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
}