.dialog-form__input {
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
  position: relative;
  z-index: 2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.dialog-form__input:first-of-type {
  margin: 54px 0 0 0;
}

.dialog-form__input:last-of-type {
  margin: 0;
}

.dialog-form__input:only-of-type {
  margin: 54px 0 0 0;
}

@media screen and (max-width: 619px) {
  .dialog-form__input:first-of-type {
    margin-top: calc(75px - 21 * (100vw - 320px) /300);
  }
}