.dialog-form__title_type_section {
  margin: 0 0 50px 0;
  text-align: center;
}

@media screen and (max-width: 619px) {
  .dialog-form__title_type_section {   
    margin-bottom: calc(40px + 10 * (100vw - 320px) /300);
  }
}
