.content {
  margin: 40px auto 0;
  width: 100%;
  align-self: stretch;
  min-width: 282px;
  max-width: 880px;
}

@media screen and (max-width: 917px) {
  .content {
    margin: 42px 19px 0;
    width: calc(100% - 38px);

  }
}